---
processes:
- name: kafka
  executable: /var/vcap/jobs/kafka/bin/ctl
  args: [start]
  ephemeral_disk: true
  persistent_disk: true
  env: {}
  limits:
    memory: 1G
    open_files: 1024

# example at https://github.com/cloudfoundry-incubator/bpm-release/blob/master/jobs/bpm-test-agent/templates/bpm.yml.erb
